*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* font-size: 10px; */
    /* using 10px to update rem easier conversion 10 px = 1 rem */
    /* 10 divide by 16 to get 62.5% */ 
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}
